@media (max-width: 700px) {
  :root {
    --background-color: #ffe5ec;
    --color-text: #333333;
    --tombol: #edafb8;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
  }
  /* style.css */
  body {
    font-family: "Quicksand", sans-serif;
    background-color: #fff0f5;
    text-align: center;
    margin: 0;
  }
  .header {
    color: #ffffff;
    font-size: 18px;
  }
  .area-game {
    position: relative;
    border: 1px solid #cac6c6;
    background-color: #030303;
    width: 100%;
    height: 90vh;
  }
  .player img {
    position: absolute;
    bottom: 0;
    transition: left 0.05s linear;
    width: 60px;
  }
  .panah {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 10px; */
  }
  .kiri,
  .kanan {
    /* background-color: var(--tombol); */
    /* width: 100px; */
    /* padding: 10px 0; */
    /* border-radius: 10px; */
    /* font-size: 22px;     */
    /* font-family: "Caveat", cursive; */
    cursor:pointer;
  }
  .kiri{
    left: 0;
  }
  .kanan{
    right:0;
  }
}
