@media (max-width: 700px) {
  :root {
    --background-color: #ffe5ec;
    --color-text: #333333;
    --tombol: #edafb8;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
  }
  body {
    background-color: var(--background-color);
    font-family: "Caveat", cursive;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  p{
    font-size: 24px;
    font-weight: 600;
  }
  .pesan{
    width: 100%;
    background-color: var(--tombol);
    padding: 20px;
    border-radius: 10px;
  }
}